/temp
.DS_Store
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

/diffyscan/generated/
/diffyscan/logs/
/state-mate/generated/
/state-mate/logs/
/.diffyscan_cache/
/digest/
.env
